.collapsible-header {
    padding:0;
}

.collapsible-header-title-left {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.collapsible-header-title-left.cs {
    background: lavender;
}

.collapsible-header-title-right {
    display: inline-block;
    /*font-size: 10px;*/
    /*background: lavender;*/
    padding-left: 1rem;
    padding-right: 1rem;
    float: right;
}

.btn-xlarge {
    height: 10rem;
    line-height: 56px;
}

.btn-xlarge i {
    font-size: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;

}