.collapsible-header {
    padding:0;
}

.collapsible-header-title-left {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 28mm;
}

.collapsible-header-title-left.CSCE {
    background: lavender;
}
.collapsible-header-title-left.BIOL {
    background: darkseagreen;
}
.collapsible-header-title-left.MATH {
    background: lightcoral;
}
.collapsible-header-title-left.PHYS {
    background: lightyellow;
}
.collapsible-header-title-left.CHEM {
    background: lightskyblue;
}

.collapsible-header-title-right {
    display: inline-block;
    /*font-size: 10px;*/
    /*background: lavender;*/
    padding-left: 1rem;
    padding-right: 1rem;
    float: right;
}

.btn-xlarge {
    height: 10rem;
    line-height: 56px;
}

.btn-xlarge i {
    font-size: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;

}